.line {
    stroke:red;
    stroke-width:2;
}

.svg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

body, html { margin: 0; }

canvas { position: fixed; touch-action: none; }



.anzeigeAllesCurrent {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.anzeigeAllesCurrent div {
text-align: center;
}

.temperaturAnzeige {
    font-size: 2em;
    font-weight: bold;
}

.measuredAt {
    text-align: center;
    position: absolute;
    left: 50%;
top: 10%;
transform: translate(-50%, -50%);
font-size: 1em;
}